.timer {
  display: grid;
  grid-template-columns:  8.5rem 0.5rem 8.5rem 0.5rem 8.5rem;
  font-size: 7rem;
  justify-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.timer__item {
  position: relative;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  bottom: -0.75rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.875rem;
  color: #424242;
}